<html>
<head>
    <title>All Phones</title
</head>
<body>
<h2>Phone Details</h2>
    <table border="1" cellpadding="4">
    <tr>
        <td>mac</td> <td>{{ p.mac }}</td>
    </tr>
    <tr>
        <td>serial</td> <td>{{ p.serial }}</td>
    </tr>
    <tr>
        <td>sys_id</td> <td>{{ p.sys_id }}</td>
    </tr>
    <tr>
        <td>station_name</td> <td>{{ p.station_name }}</td>
    </tr>
    <tr>
        <td>extension</td> <td>{{ p.extension }}</td>
    </tr>
    <tr>
        <td>did</td> <td>{{ p.did }}</td>
    </tr>

    <tr>
        <td>model</td> <td>{{ p.model }}</td>
    </tr>
    <tr>
        <td>location</td> <td>{{ p.location }}</td>
    </tr>
    <tr>
        <td>wifi</td> <td>{{ p.wifi }}</td>
    </tr>
    <tr>
        <td>dark_room</td> <td>{{ p.dark_room }}</td>
    </tr>
    <tr>
        <td>remote</td> <td>{{ p.remote }}</td>
    </tr>
    <tr>
        <td>__id__</td> <td>{{ p.__id__ }}</td>
    </tr>
    </table>

    {% if p.buttons %}
        <h2>Func Buttons</h2>
        <table border="1">
        <tr>
            <th>button</th>
            <th>func</th>
        </tr>
        {% for b in p.buttons %}
        <tr>
            <td>{{b.button}}</td>
            <td>{{b.func}}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if p.lines %}
        <h2>Lines</h2>
        <table border="1">
        <tr>
            <th>button</th>
            <th>did</th>
            <th>hide_missed</th>
            <th>label</th>
            <th>ring</th>
            <th>secret</th>
            <th>server</th>
        </tr>
        {% for l in p.lines %}
        <tr>
            <td>{{l.button}}</td>
            <td>{{l.did}}</td>

            <td>{{l.hide_missed}}</td>
            <td>{{l.label}}</td>
            <td>{{l.ring}}</td>
            <td>{{l.secret}}</td>
            <td>{{l.server}}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if p.kem %}
        <h2>KEM</h2>
        <h4>model: {{ p.kem.model }}</h4>
        <h4>quantity of units: {{ p.kem.number_of_units }}</h4>

        <table border="1">
        <tr>
            <th>button</th>
            <th>func</th>
        </tr>
        {% for u in p.kem.units %}
            {% for b in u.buttons %}
            <tr>
                <td>{{b.button}}</td>
                <td>{{b.func}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endif %}

</body>
</html>